
#section-main h1 {
    font-size: 300%;
    margin-bottom: 1.5rem;
    line-height: 150%;
    text-align: center;
    color: var(--color-orange);
}

#section-main p {
    padding: 1% 10%;
    font-size: 110%;
    text-align: center;
    margin-bottom: 20px;
}

#button-contact {
    padding: 15px 10px;
    transition: 0.2s;
    background-color: var(--color-orange);
    border-style: none;
    border-radius: 4px;
    color: var(--color-main2);
    font-weight: 700;
    font-size: medium;
    opacity: 1;
    cursor: pointer;
    touch-action: manipulation;
    box-shadow: var(--color-orange2) 2px 4px 0px;
}

#button-contact:hover, #button-contact:focus {
    transform: translateY(-3px);
    transform: translateX(-1px);
    box-shadow: var(--color-orange2) 3px 6px 1px;
}

#button-contact:active {
    transform: translateY(3px);
    transform: translateX(1px);
    box-shadow: var(--color-orange2) 2px 2px 0px;
    opacity: 0.7;
}

#section-contact form {
    flex-direction: column;
}

#link-CGU {
    margin: 1rem;
    margin-left: 7.5%;
}

.timeline-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.timeline-icon {
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    margin-right: 50px;
}

.timeline-badge {
    text-decoration: underline;
}

.timeline-item {
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-main3);
    transition: 0.2s;
    border: 2px solid var(--color-main);
    border-radius: 10px;
    margin: 1em;
    max-width: 40%;
    padding: 10px;
}

.timeline-item:hover {
    transition: 0.2s;
    border: 2px solid var(--color-orange);
}

.timeline-item-header {
    font-size: medium;
}

.timeline-item-body {
    font-size: small;
}