
#section-main h1 {
    font-size: 300%;
    margin-bottom: 1.5rem;
    line-height: 150%;
    text-align: center;
    color: var(--color-orange);
}

#section-main p {
    padding: 1% 10%;
    font-size: 110%;
    text-align: center;
    margin-bottom: 20px;
}

#button-contact {
    padding: 15px 10px;
    transition: 0.2s;
    background-color: var(--color-orange);
    border-style: none;
    border-radius: 4px;
    color: var(--color-main2);
    font-weight: 700;
    font-size: medium;
    opacity: 1;
    cursor: pointer;
    touch-action: manipulation;
    box-shadow: var(--color-orange2) 2px 4px 0px;
}

#button-contact:hover, #button-contact:focus {
    transform: translateY(-3px);
    transform: translateX(-1px);
    box-shadow: var(--color-orange2) 3px 6px 1px;
}

#button-contact:active {
    transform: translateY(3px);
    transform: translateX(1px);
    box-shadow: var(--color-orange2) 2px 2px 0px;
    opacity: 0.7;
}

#section-contact form {
    flex-direction: column;
}

#link-CGU {
    margin: 1rem;
}