#bind-career {
    padding-top: 10%;
}

.timeline {
    border-left: 4px solid var(--color-orange);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: var(--color-main3);
    position: relative;
    padding: 50px;
    max-width: 70%;
    margin: 50px auto;
    text-align: left;
}

.timeline-row {
    position: relative;
    padding-bottom: (50px * 0.5);
    margin-bottom: 50px;
    display: flex;
}

.timeline-row:nth-last-child() {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline-row:before, .timeline-row:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline-row:before {
    left: -200px;    
    color: var(--color-secondary);    
    content: attr(data-date);
    text-align: right;
    font-weight: 100;    
    font-size: 0.9em;
    min-width: 120px;
}

.timeline-row:after {
    box-shadow: 0 0 0 4px var(--color-orange);    
    left: -57px;
    background: var(--color-main3);    
    border-radius: 50%;  
    height: 11px;
    width: 11px;
    content: "";
    top: 5px;
}

.timeline-item {
    padding: 10px;
    border-bottom: 1px dashed var(--color-grey);
    margin: 0px 10px;
    width: 45%;
}

.timeline-item * {
    font-weight: 400;
    padding: 10px;
}

.timeline-item * {
    font-weight: 400;
}

.timeline-item p {
    color: var(--color-secondary3);
}

.timeline-item h5 {
    color: var(--color-secondary4);
}