#profile-content {
    transition: 0.2s ease-in 0.2s;
    display: flex;
    align-items: flex-start;
}

#profile-content h1 {
    line-height: 140%;
    font-size: xx-large;
    margin: 10px 0px;
}

#profile-content h4, h5 {
    font-size: 110%;
}

#button-contact {
    padding: 15px;
    transition: 0.2s;
    background-color: var(--color-orange);
    border-style: none;
    border-radius: 2px;
    color: var(--color-main2);
    font-weight: 700;
    font-size: medium;
    opacity: 1;
    cursor: pointer;
    touch-action: manipulation;
    box-shadow: var(--color-orange2) 4px 4px 0px;
    margin-top: 5%;
}

#button-contact:hover, #button-contact:focus {
    transform: translateY(-3px);
    transform: translateX(-1px);
    box-shadow: var(--color-orange2) 6px 6px 0px;
}

#button-contact:active {
    transform: translateY(3px);
    transform: translateX(1px);
    box-shadow: var(--color-orange2) 2px 2px 0px;
    opacity: 0.7;
}