@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    background: none;
    color: var(--color-secondary);
    box-sizing: border-box;
    font-family: "JetBrains Mono", monospace;
    -webkit-user-select: none;
    user-select: none;
    text-decoration: none;
    box-sizing: border-box;
}

html, body, main {
    width: 100%;
    height: 100%;
}

body {
    background: var(--color-main2);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.flex {
    display: flex;
}

.block {
    display: block;
}

.none {
    display: none;
}

.flexend {
    justify-content: flex-end;
}

header {
    position: fixed;
    top: 0px;
    z-index: 2;
    height: 60px;
    width: 100%;
    padding: 10px;
    padding-right: 50px;
    justify-content: space-between;
    background-color: var(--color-main2);
}

.header-div {
    flex: 1;
}

option {
    color: var(--color-main2);
    cursor: pointer;
}

#box-lang {
    padding: 10px;
}

#select-lang {
    margin: 10px;
    flex: 1;
    font-size: medium;
    cursor: pointer;
}

#box-theme {
    padding: 10px;
    margin-right: 50px;
}

#box-theme input {
    cursor: pointer;
}

#media-icons {
    padding-right: 1rem;
}

#media-icons a {
    margin: 0px 1em;
}

#media-icons a img {
    height: 24px;
    width: 24px;
}

nav {
    position: fixed;
    height: 100%;
    width: 17.5%;
    flex-direction: column;
}

nav ul {
    flex: 1;
    width: 50%;
    flex-direction: column;
}

.link-li {
    width: 100%;
    height: 7%;
    margin: 5px;
    cursor: pointer;
    text-align: end;
}

.link {
    width: 100%;
    padding: 10px 0px;
    padding-right: 10px;
    color: var(--color-secondary);
    text-transform: uppercase;
    transition: 0.2s;
    border-right: solid 5px rgba(1, 1, 1, 0);
    font-weight: 700;
}

.link:hover, .link:focus {
    transition: 0.2s;
    border-right: solid 2px var(--color-orange);
}

.link:active {
    transition: 0.1s;
    color: var(--color-orange2);
}

.link-selected {
    color: var(--color-orange);
}

#box-content {
    position: relative;
    height: 400%;
    width: 82.5%;
    margin-left: 17.5%;
}

#box-content section {
    width: 100%;
    height: 25%;
    flex-direction: column;
}

section div {
    margin: 2% 0px;
    flex-direction: column;
}

section h2 {
    text-transform: capitalize;
    justify-self: flex-start;
    font-size: 1.4em;
    letter-spacing: 1.5px;
}

.link-btn {
    padding: 0.5%;
    margin: 0.2%;
    border: solid 3px var(--color-orange);
    border-radius: 3px;
}

.link-strong {
    margin: 0px 5%;
    padding: 3px;
    transition: 0.2s;
    border-top: 1px solid var(--color-main2);
    border-bottom: 1px solid var(--color-main2);
}

.link-strong:hover {
    transition: 0.2s;
    border-bottom: 1px solid var(--color-orange);
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: var(--color-main2);
    max-height: 60px;
    min-height: 40px;
}