:root {
    --black: #000000;
    --oxford-blue: #14213d;
    --orange-web: #fca311;
    --platinum: #e5e5e5;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    background: none;
    color: var(--white);
}