:root {
    --black: #030408;
    --black2: #05080F;
    --oxford-blue: #14213d;
    --orange-web: #fca311;
    --platinum: #e5e5e5;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    background: none;
    color: var(--white);
    box-sizing: border-box;
}

body {
    background-color: var(--black2);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    position: fixed;
    display: flex;
    top: 0px;
    height: 60px;
    width: 100%;
    z-index: 10;
    padding: 10px;
    justify-content: flex-end;
}

main {
    margin-top: 60px;
    height: 100%;
    width: 100%;
    background-color: red;
}

option {
    color: var(--black);
}

#langBox {
    display: flex;
    align-items: center;
    padding: 10px;
}

#langSelect {
    margin: 10px;
    flex: 1;
}

#themeBox {
    padding: 10px;
    flex: 1;
}
