:root {
    --color-main: #030408;
    --color-main2: #05080F;
    --color-main3: #070c16;
    --color-orange: #ff9e00;
    --color-orange2: #bf7700;
    --color-grey: #1e1e1e;
    --color-secondary: #e5e5e5;
    --color-secondary2: #ffffff;
    --color-secondary3: #ACACAC;
    --color-secondary4: #8F8F8F;
}