:root {
    --color-main: #030408;
    --color-main2: #05080F;
    --color-main3: #252526;
    --color-orange: #ff9e00;
    --color-orange2: #bf7700;
    --color-secondary: #e5e5e5;
    --color-secondary2: #ffffff;
}