:root {
    --color-main: #e5e5e5;
    --color-main2: #ffffff;
    --color-main3: #14213d;
    --color-orange: #ff9e00;
    --color-orange2: #bf7700;
    --color-secondary: #030408;
    --color-secondary2: #05080F;
}