/*
Header
*/
header {
    position: fixed;
    display: flex;
    top: 0px;
    width: 100%;
    height: var(--header-height);
    justify-content: space-between;
    background-color: var(--color-main-01);
    z-index: 5;
}

header > div {
    flex: 1;
    text-align: center;
    margin-inline: 50px;
}

#header-buttons a {
    display: flex;
    align-items: center;
    color: var(--color-font);
    border-bottom: solid 1px var(--color-main-01);
    padding-right: 6px;
    cursor: pointer;
}

#header-buttons a:hover  {
    color: var(--color-secondary-01);
    border-bottom: solid 1px var(--color-secondary-01);
}

#header-buttons span {
    color: var(--color-font);
    margin: 6px;
}

#header-buttons a:hover span  {
    color: var(--color-secondary-01);
}

#box-theme {
    padding: 10px;
    margin-inline: 25px;
}

#box-theme img {
    cursor: pointer;
}

#media-icons {
    padding-right: 1rem;
}

#media-icons a {
    margin: 0px 1em;
    height: 24px;
    width: 24px;
}

#media-icons a img {
    height: 24px;
    width: 24px;
}

#icon-github {
    filter: var(--filter);
}