        <header>
            <div id="headerBox"></div>
            <div id="configBox">
                <select name="langSelect" id="langSelect">
                    <option value="fr" selected>FR</option>
                    <option value="en">EN</option>
                </select>
                <div id="switchBox">
                    <label>
                        <input type="checkbox">
                        <span id="switchSlider"></span>
                    </label>
                </div>
            </div>
		</header>
